<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('static/header.ejs');%>
</head>

<body>
    <div class="container">
        <%- include('static/navigation.ejs');%>
            <br>
            <form id="formularioConsulta" method="POST" action="/consultState">
                <div class="mb-3">
                    <label for="serial" class="form-label">INGRESE EL SERIAL DEL DISPOSITIVO:</label>
                    <input type="text" class="form-control" id="serial" name="serial" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary ">CONSULTAR</button>
                </div>
            </form>
            <div>
               
            </div>
    </div>
    <%- include('static/footer.ejs');%>
</body>

</html>