<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('static/header.ejs');%>
</head>

<body>
    <div class="container">
        <%- include('static/navigation.ejs');%>
        <h1>Pagina en construccion</h1>
    </div>
    <%- include('static/footer.ejs');%>
</body>

</html>