<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('static/header.ejs');%>
</head>

<body>
    <div class="container">
        <%- include('static/adminNavigation.ejs');%>
            <br><br><br><br><br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" onclick="location.href='/add';" type="button">AGREGAR
                    INFORMACION</button>
                <button class="btn btn-primary" type="button">BUSCAR INFORMACION</button>
                <button class="btn btn-primary" type="button">ACTUALIZAR INFORMACION</button>
                <button class="btn btn-primary" onclick="location.href='/delete';" type="button">ELIMINAR INFORMACION</button>
            </div>
    </div>
    <%- include('static/footer.ejs');%>
</body>

</html>