<div class="row">
    <div class="col-md-12" id="pie">
        <br>
        <h1 id="titlepie1">Desarrollado por:</h1>
        <p id="contactanos">
        Camilo Andres Triana Marquez
        <br>
        Celular: 3102462947
        <br>
        camilo.triana01@uptc.edu.co - kamitriana7@gmail.com
        </p>
        <hr>
        <p id="redes">
        <a title="Facebook" href="https://www.facebook.com/camiloandres.trianamarquez"><i id="iconos" class="fab fa-facebook-square fa-3x"></i></a>
        <a title="Instagram" href="https://www.instagram.com/camilotriana_7/?hl=es-la"><i id="iconos" class="fab fa-instagram fa-3x"></i></a>
        <a title="GitHub" href="https://github.com/camilotriana"><i id="iconos" class="fab fa-github-square fa-3x"></i></a>
        </p>
    </div>
</div>